<% title 'FAQ' %>

<div class="row">
  <div class="large-6 columns">
    <h1>FAQ</h1>
    <ol>
      <li>What does HPHT stand for?</li>
      <li>What is HPHT?</li>
      <li>Are there concerns over HPHT diamonds and their process?</li>
      <li>Will the color fade on my HPHT diamond?</li>
      <li>Can any brown diamond be a candidate for HPHT?</li>
      <li>Do HPHT enhanced colored diamonds look fake?</li>
      <li>Why should I buy an HPHT enhanced diamond?</li>
    </ol>
  </div>
  <div class="large-6 columns gems">
    <%= image_tag 'landing_gems.png' %>
  </div>
</div>

<div class="row faq">
  <div class="large-12 columns">
    <dl>
      <dt>What does HPHT stand for?</dt>
      <dd>High Pressure High Temperature</dd>

      <dt>What is HPHT?</dt>
      <dd>It's a diamond color enhancement process by which chemically specific brown diamonds are subjected to HIGH PRESSURE, HIGH TEMPERATURE in a laboratory controlled setting replicating conditions that produce natural, geologically formed diamonds.  It is a technological breakthrough which increases the value of brown diamonds and, depending upon each individual chemical composition, creates new colors such as white, yellow, orange, green, pink and blue.   Most recently additional pinks have been created using a multi-step process including HPHT, irradiation and annealing.</dd>

      <dt>Are there concerns over HPHT diamonds and their process?</dt>
      <dd>The inception of this process has caused worldwide concern due to their relatively widespread availability and lack of disclosure.  Only a few gemological laboratories possess the scientific knowledge and expensive technological equipment to make the distinction between natural and enhanced diamonds.  It is important to buy your diamond from a reputable source who offers full disclosure of any type of enhancement process.</dd>

      <dt>Will the color fade on my HPHT diamond?</dt>
      <dd>No, HPHT is the only permanent color enhancement process.  It is the only treatment that completely saturates the diamond with color.  Unlike 
        irradiated and coated diamonds, HPHT diamonds are impervious to change and need no special care to maintain their resilient color.  Irradiated diamonds are prone to color fading at high temperatures and both irradiated and coated diamonds cannot be polished or recut without affecting their color.</dd>

      <dt>Can any brown diamond be a candidate for HPHT?</dt>
      <dd>No.  Only diamonds of VS (very slight inclusions at 10X) clarity and higher can withstand the extreme heat and pressure of the HPHT process.  Diamonds treated with irradiation and coating are not restricted to the same quality standards.  Most clean brown diamonds are not suitable candidates and we reject more than 98% of all stones examined.  While we can change the color of any clean diamond with heat and pressure, it is only a minute percentage that will yield optimal colors.  HPHTdiamonds.com painstakingly and safely analyzes the chemistry of each diamond to determine the final color before processing so very, very few stones meet our exacting standards.  </dd>

      <dt>Do HPHT enhanced colored diamonds look fake?</dt>
      <dd>Most people (jewelers included) have never seen stones with the intensity of color that our stones exhibit.  All of our HPHT colors have natural counterparts because color is derived from the natural chemistry of the diamond.  Only the rarest, most vivid, most expensive naturally colored diamonds compare to our HPHT diamonds.  Your average or typical colored diamonds are not of the same visual quality or aesthetic caliber.</dd>

      <dt>Why should I buy an HPHT enhanced diamond?</dt>
      <dd>Rare, vivid fancy colored diamonds are exceedingly expensive.  Such diamonds have only been affordable to the very wealthy. HPHTdiamonds.com avails you to the opportunity to own a beautiful, color saturated, completely stable diamond at an affordable price.  Affordable opulence may sound like an oxymoron but this is exactly what HPHTdiamonds.com will provide.  </dd>


    </dl>
  </div>
</div>
