<div class="landing">
  <div class="row">
    <div class="large-6 columns">
      <h1>Working With Nature</h1>
      <p>
        HPHT Diamonds unveils a modern concept:<br />
        Fancy colored diamonds<br />
        without the fancy sticker shock!
      </p>

      <p>
        Let our <span class="pink">pretty pinks</span>, <span class="yellow">sunflower yellows</span>,<br />
        <span class="green">glowing greens</span>, and <span class="purple">royal purples</span>
      </p>

      <p>set your imagination <span class="orange">ablaze</span>.</p>
    </div>
    <div class="large-6 columns gems">
      <%= image_tag 'landing_gems.png' %>
    </div>
  </div>

  <div class="row highlights">
    <div class="large-8 large-centered columns">
      <div class="row">

        <div class="large-3 columns highlight">
          <p>
            100% natural<br />
            diamonds
          </p>
        </div>
        <div class="large-4 large-offset-1 columns highlight">
          <p>
            Permanently enhanced to<br />
          eternally immutable colors
          </p>
        </div>
        <div class="large-3 large-offset-1 columns highlight">
          <p>
            100% U.S.<br/>
            technology
          </p>
        </div>

      </div>
    </div>
  </div>
</div>
