<div class="row">
  <div class="large-6 columns">
    <h1>The Process</h1>
    <p>For the uninitiated, HPHT diamond enhancement is a means of changing the color of brown diamonds that possess a specific chemical composition. When identified as a candidate, these stones are subjected to high temperature and high pressure (HPHT) to change their color. Unlike irradiated or coated diamonds, HPHT processed diamonds are naturally durable, impervious to heat, and not adversely affected by re-polishing.</p>
  </div>
  <div class="large-6 columns gems">
    <%= image_tag 'landing_gems.png' %>
  </div>
</div>

<div class="row process">
  <div class="large-12 columns">

    <img src="assets/gem1.png" class="process-img" width="160" style="float: left; margin: 0 20px 20px 0;" />
    <p>Every one of hphtdiamonds.com's stones are examined for purity and tested with Fourier Transform Infrared Spectroscopy (FTIR) to determine their exact chemistry. Typically, 99% of all stones tested are eliminated due to chemistry and clarity issues. Diamonds are carefully selected one by one from literally thousands of prospects.  They must be mostly free of inclusions.  Stones that have internal or external clarity issues are at risk of breakage due to the extreme pressure and temperature exerted during the process. </p>
    
    <p>Typically most diamond crystals are rife with impurities such as nitrogen or hydrogen which can cause discoloration during the process. Only diamonds with extremely low levels of these impurities will yield white or attractive fancy colors.</p>
    
    <p>The color transformation begins in the lab where the high pressure, high temperature environment Mother Nature originally used to form diamond is replicated.  This is done by means of a Cubic Press (see photo).</p>
					
    <img src="assets/cubicpress.png" class="process-img" width="200" style="float: right; margin: 0 0 20px 20px;" />
    <p>Under these conditions, dramatic molecular transformations can be effected. Color centers migrate and stress factors, long considered a cause of brown body color in diamond, can be eased. The diamond that once appeared as an unattractive brown stone emerges as a rare and beautiful white or fancy color albeit badly scorched. Each diamond's unique chemistry dictates the final outcome. Mother Nature provides the building blocks and, using the best USA based cutting edge technology, a process that began billions of years ago is brought to completion.  </p>
  
    <p>Our process may include one or several of the following: HPHT, irradiation and/or annealing to arrive at the final color. The stones must then be polished before sale.</p>
    
    <img src="assets/polish.png" class="process-img" width="200" style="float: left; margin: 0 20px 20px 0;" />
    <p>Since perhaps 1% of the diamonds tested are capable of alteration, there will always be limited quantities of premium goods available. HPHTdiamonds.com provides our customers with an opportunity to possess something truly rare and unique.</p>

  </div>
</div>
